.advantages {
  margin: 0 0 100px;
}

.advantages__main-list {
  display: grid;
  gap: 40px;
  padding: 0;
  margin: 0 0 100px;
  list-style-type: none;
}

.advantages__main-list--modified {
  grid-template-columns: repeat(2, 600px);
}

.advantages__main-item--long {
  grid-column: span 2;
}
