.footer {
  padding: 40px 0;
  background-color: #F4F6FA;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  gap: 120px;
}

.footer__logo {
  display: flex;
  margin: 0 0 40px;
}

.footer__contacts-number {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__contacts-numbers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  color: #6A6E80;
}

.footer__contact-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.footer__callback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__location-link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.footer__location-city {
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #476BF0;
}

.footer__audiences {
  display: grid;
  gap: 60px;
  grid-template-columns: 140px 140px;
  padding: 20px 0 0 0;
}

.footer__audience-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__audience-title {
  font-size: 14px;
  line-height: 18px;
}

.footer__audience-link {
  font-size: 14px;
  line-height: 18px;
}

.footer__info {
  padding: 20px 0 0 0;
}

.footer__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 12px;
}

.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.footer__copyright-text {
  margin: 0;
}

.footer__copyright-year {
  display: flex;
  flex-direction: column;
}

.footer__info-date {
  margin: 0 0 20px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(106, 110, 128, 0.4);
}

.footer__language-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
