.footer {
  padding: 40px 0;
  background-color: #F4F6FA;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  gap: 129px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__contacts {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  color: #6A6E80;
}

.footer__contact-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1E222E;
}

.footer__callback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.btn--callback {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 12px 20px;
  background-color: #1E222E;
  color: #FFFFFF;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__audiences {
  display: flex;
  gap: 60px;
}

.footer__audience-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 12px;
}

.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.footer__copyright-text {
  margin: 0;
}

.footer__copyright-year {
  display: flex;
  flex-direction: column;
}

.footer__info-date {
  margin: 0 0 20px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(106, 110, 128, 0.4);
}

.footer__language-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
